.btn {
  border: 3px solid #388e3c;
  background-color: #c8e6c9;
  padding: 1rem 4rem;
  margin-top: 1rem;

  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  border: 3px solid #c8e6c9;
  border-radius: 1rem;
  background-color: #388e3c;
  color: #fff;
}

.btn:active,
.btn:link,
.btn:focus {
  outline: none;
}
