.header {
  padding: 2.5rem 15vw;
  font-size: 1.5rem;
  background-color: #388e3c;
  box-shadow: 0 1rem 4rem rgb(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;

  transition: 0.2s;
}

.header__heading {
  font-size: 2.5rem;
}

.header__heading-link {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1rem;
}
