.navlink {
  list-style: none;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink a:hover {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1rem;
}

.navlink a:active,
.navlink a:focus {
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
}

.navlink__item:not(:last-child) {
  margin-right: 1.5rem;
}
