.auth__container {
  width: 20vw;
}

.auth__img {
  width: 100%;
}

.form {
  width: 100vw;
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__signup {
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__signup-text {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.auth__signup-btn {
  padding: .5rem 1rem;
}

.auth__signup-btn:hover {
  cursor: pointer;
}
