.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 2px 0.5rem rgb(0, 0, 0, 0.3);
  z-index: 100;

  transition: all 0.2s;
}

.slide-in-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-left-active {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit {
  transform: translateX(-100%);
  opacity: 1;
}
